main.alcohol_detail {
  display: flex;
  max-width: 1200px;
  padding: 1rem 0rem;
  margin: 0 auto;
  div.alcohol_detail_container {
    flex: 1;
    max-width: 750px;
    margin: 0 auto;
    div.alcohol_card_container {
      display: flex;
      margin-bottom: 5rem;
      div.alcohol_img {
        img {
          width: 100%;
        }
      }
      div.alcohol_info {
        h3.alcohol_name {
          color: #555;
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 0.8rem;
        }
        > span {
          display: block;
        }
        span.hashtag {
          font-size: 1.1rem;
          color: rgb(253, 157, 3);
          font-weight: 600;
          margin-bottom: 0.8rem;
        }
        div.review_info {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;
          > *:not(:last-child) {
            margin-right: 10px;
          }
          div.review_stars {
            z-index: -1;
            position: relative;
            > div {
              display: flex;
              svg {
                font-size: 1.5em;
              }
              &.fill_stars {
                position: absolute;
                top: 0;
                overflow: hidden;
                svg {
                  flex-shrink: 0;
                  fill: orange;
                }
              }
              &.background_stars {
                svg {
                  fill: #ccc;
                }
              }
            }
          }
          small.review_avg_rate {
            font-size: 0.95rem;
            font-weight: 600;
          }
          span.review_count {
            font-size: 0.95rem;
            color: rgb(66, 66, 232);
            font-weight: 600;
          }
        }
        div.alcohol_price {
          margin-bottom: 2rem;
          > * {
            display: block;
            font-weight: 600;
          }
          small {
            margin-bottom: 0.5rem;
          }
          span {
            font-size: 1.8rem;
          }
        }
        div.alcohol_detail_info {
          margin-top: auto;
          > small {
            display: block;
            font-size: 0.9rem;
            font-weight: 600;
            color: #444;
            &.blue {
              color: rgb(0, 150, 243);
            }
            &:not(:last-child) {
              margin-bottom: 0.6rem;
            }
          }
        }
      }
    }
    div.alcohol_foods_container {
      margin-bottom: 3rem;
      h4 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }
      div.alcohol_food_imgs {
        display: flex;
        figure {
          display: flex;
          flex-direction: column;
          align-items: center;
          &:not(:last-child) {
            margin-right: 1.5rem;
          }
          div.food_img {
            margin-bottom: 1rem;
            img {
              width: 100%;
            }
          }
          figcaption {
            color: #666;
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
    }
    div.alcohol_flavor_container {
      margin-bottom: 3rem;
      h4 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }
      > div {
        div.flavor_level {
          width: 100%;
          background-color: #f6f6f6;
          border-radius: 5px;
          height: 50px;
          padding: 0 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:first-child {
            border-bottom: 1px solid #ddd;
          }
          span {
            font-size: 0.95rem;
            color: rgba(61, 61, 61, 0.6);
          }
          div.graph {
            display: flex;
            align-items: center;
            span {
              border-top: 1px solid transparent;
              border-bottom: 1px solid transparent;
              border-right: 35px solid #ddd;
              display: inline-block;
              &:not(:first-child) {
                margin-left: 3px;
              }
              &.lv1 {
                height: 5px;
              }
              &.lv2 {
                height: 7px;
              }
              &.lv3 {
                height: 9px;
              }
              &.lv4 {
                height: 11px;
              }
              &.lv5 {
                height: 13px;
              }
              &.fill {
                border-right: 35px solid #0096f3;
              }
            }
          }
        }
      }
    }
  }

  div.sticky_container {
    width: 25%;
    height: inherit;
    z-index: -1;
    max-width: 300px;
    margin: 0 auto;
    div.order_menu_container {
      position: sticky;
      top: 100px;
      height: 500px;
      background-color: skyblue;
    }
  }
}

/* 반응형 미디어 쿼리 */

// xlg
@media screen and (max-width: $xlg-breakpoint) {
  main.alcohol_detail {
    padding: 1rem 1rem;
    div.sticky_container {
      display: none;
    }
  }
}

// lg
@media screen and (min-width: $lg-breakpoint) {
  main.alcohol_detail {
    div.alcohol_detail_container {
      div.alcohol_foods_container {
        h4 {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 1.5rem;
        }
        div.alcohol_food_imgs {
          justify-content: flex-start;
          figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            div.food_img {
              width: 150px;
              height: 150px;
              img {
                width: 100%;
              }
            }
            figcaption {
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
      }
      div.alcohol_flavor_container {
        > div {
          width: 48%;
          display: inline-block;
          &:first-of-type {
            margin-right: 2%;
          }

        }
      }
    }
  }
}
@media screen and (max-width: $lg-breakpoint) {
  main.alcohol_detail {
    div.alcohol_detail_container {
      div.alcohol_foods_container {
        h4 {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 1.5rem;
        }
        div.alcohol_food_imgs {
          justify-content: center;
          figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            div.food_img {
              width: 95px;
              height: 95px;
              img {
                width: 100%;
              }
            }
            figcaption {
              font-size: 0.9rem;
              font-weight: 600;
            }
          }
        }
      }
      div.alcohol_flavor_container {
        > div {
          width: 100%;
          display: block;
          &:first-of-type div.flavor_level {
            border-bottom: 1px solid #ddd;
          }
        }
      }
    }
  }
}

// 765px
@media screen and (min-width: 765px) {
  main.alcohol_detail {
    div.alcohol_detail_container {
      div.alcohol_card_container {
        flex-direction: row;
        div.alcohol_img {
          width: 50%;
          padding-right: 30px;
        }
        div.alcohol_info {
          width: 50%;
        }
      }
    }
  }
}
@media screen and (max-width: 765px) {
  main.alcohol_detail {
    div.alcohol_detail_container {
      div.alcohol_card_container {
        flex-direction: column;
        div.alcohol_img {
          padding-bottom: 20px;
        }
      }
    }
  }
}
