div.layout_center,
ul.layout_center {
    max-width: 1200px;
    margin: 0 auto;
}

// 헤더 컨텐츠의 position sticky / static 를 결정하는 공통 클래스
div.header_sticky_wrapper {
    background-color: #fff;
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 0 3rem;
    box-shadow: 0 0 1px #777;
    box-sizing: border-box;
    @media screen and (max-width : $lg-breakpoint) {
        padding: 0 1rem;
    }
}

div.header_static_wrapper {
    padding: 0 3rem;
    background-color: #FFF;
}


div.header_top {
    button.cart_btn {
        position: relative;
        span.cart_cnt {
            position: absolute;
            bottom: -5px;
            width: 15px;
            height: 15px; 
            line-height: 15px;
            text-align: center;;
            font-size: .625rem;
            font-weight: 600;
            border-radius: 50%;
            background-color: #000;
            color: #FFF;
        }
    }
}

// pc 
div.pc_header {
    div.header_top {
        position: relative;
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;
        align-items: center;
        box-sizing: border-box;
        div.main_logo {
            width: 38px;
            margin-right: 40px;
            cursor: pointer;
            img {
                width: 100%;
            }
        }
        form.header_search {
            background-color: #eeeeee;
            display: flex;
            align-items: center;
            position: relative;
            padding: 12px 30px 12px 20px;
            width: 22%;
            min-width: 220px;
            max-width: 300px;
            border-radius: 8px;
            box-sizing: border-box;
            svg {
                font-size: 0.95em;
                margin-right: 12px;
                opacity: 0.3;
            }
            input {
                width: 100%;
                font-size: 0.9em;
                &::placeholder {
                    color: #aaa;
                }
            }
        }
        div.header_user_menu {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .mypage_link {
                font-size: 0.95em;
                font-weight: 600;
                color: rgb(0, 150, 243);
            }
            .header_log {
                font-size: 0.9em;
                color: #555;
                margin-left: 20px;
            }
            button.cart_btn {
                font-size: 1.5em;
                font-weight: 600;
                margin-left: 25px;
            }
        }
    }
    ul.header_navbar {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        box-sizing: border-box; 
        li {
            padding: 10px 0;
            a {
                font-weight: 600;
                color: rgb(112, 112, 112);
                font-size: 0.9em;
            }
            &.active {
                border-bottom: 3px solid rgb(255, 187, 0);
                a {
                    cursor: default;
                    color: rgb(255, 187, 0);
                }
            }
        }
        li:not(:last-child) {
            margin-right: 20px;
        }
    }
}


div.mobile_header {
    div.header_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        align-items: center;
        box-sizing: border-box;
        div.main_logo {
            width: 33px;
            margin-right: 40px;
            flex-shrink: 0;
            cursor: pointer;
            img {
                width: 100%;
            }
        }
        button.prev_page_btn {
            font-size: 1.5rem; 
            transform: scale(1.5);  
        }
        span.page_title {
            font-size: .9rem;
            font-weight: 600;
            max-width: 50vw;
            @include ellipsis();
        }
        form.header_search {
            background-color: #eeeeee;
            display: flex;
            align-items: center;
            position: relative;
            padding: 10px 20px 10px 10px;
            width: 22%;
            min-width: 220px;
            max-width: 300px;
            border-radius: 8px;
            box-sizing: border-box;
            svg {
                font-size: 0.95em;
                margin-right: 12px;
                opacity: 0.3;
            }
            input {
                width: 100%;
                font-size: 0.9em;
                &::placeholder {
                    color: #aaa;
                }
            }
        }
        div.header_user_menu {
            // flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .mypage_link {
                font-size: 0.95em;
                font-weight: 600;
                color: rgb(0, 150, 243);
            }
            .header_log {
                font-size: 0.9em;
                color: #555;
                margin-left: 20px;
            }
            button.user_menu_btn {
                font-size: 1.5em;
                &:not(:first-of-type) {
                    margin-left: 20px;
                }
                &.search_btn {
                    position: relative;
                    font-size: 1.2em;
                    div.bg_search {
                        &::before {
                            content: '';
                            position: fixed;
                            top: 55px;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            background: rgba(0, 0, 0, 0.8);
                        }
                        div.search_box {
                            position: absolute;
                            top: 50px;
                            right: -43px;
                            @include flexbox;
                            width: 270px;
                            height: 50px;
                            border-radius: 5px;
                            border: 1px solid rgb(192, 188, 188);
                            background: rgba(100, 100, 100, 0.5);
                            &::before {
                                content: '';
                                position: absolute;
                                top: -20px;
                                right: 14%;
                                width: 0;
                                height: 0;
                                border-top: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-bottom: 10px solid rgb(215, 213, 210);
                                border-left: 10px solid transparent;
                            }
                            input {
                                width: 95%;
                                height: 71%;
                                padding: 3px 14px;
                                border-radius: 5px;
                                background: rgba(32, 32, 32, 0.28);
                                color: white;
                                font-size: 0.9rem;
                                &::placeholder {
                                    font-size: 0.8rem;
                                    color: rgb(166, 166, 166);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ul.header_navbar {
        display: flex;
        justify-content: space-between;
        padding: 0;
        li {
            padding: 10px 0;
            a {
                font-weight: 600; 
                color: rgb(112, 112, 112);
                font-size: 0.8em;
            }
            &.active {
                border-bottom: 3px solid rgb(255, 187, 0);
                a {
                    cursor: default;
                    color: rgb(255, 187, 0);
                }
            }
        }
    }
}


div.hamburger_menu_wrapper {
    z-index: 15;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    pointer-events: none;
    transition: all .8s;
    div.hamburger_menu {
        position: absolute;
        top: 0; right: 0;
        width: 280px;
        height: 100%;
        z-index: 12;
        background-color: #fff;
        box-shadow: 0 0 1px #000;
        transform: translateX(100%);
        transition: all .8s;
        overflow: auto;
        padding-bottom: 30px;
        div.ham_header {
            text-align: right;
            padding: 1.2rem;
            button {
                font-size: 1.8rem;
            }
        }
        div.ham_member_loggedin {
            padding: 0 1.2rem;
            margin-bottom: 20px;
            * {
                display: block;
            }
            a.mypage_link {
                font-size: 1em;
                font-weight: 600;
                color: rgb(0, 150, 243);
                margin-bottom: 15px;
            }
            button.logout_btn {
                font-size: .8em;
                font-weight: 300;
                color: #666;
                padding-bottom: 2px;
                border-bottom: 1px solid #AAA;
                margin-bottom: 25px;
            }
            ul.mypage_submenus {
                display: flex;
                justify-content: space-between;
                // padding: 1rem 0;
                li {
                    width: 22%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    div.mypage_icon {
                        img {
                            width: 100%;
                        }
                    }
                    svg {
                        color: orange;
                        font-size: 1.5em;
                        margin-bottom: 8px;
                    }
                    span {
                        font-weight: 400;
                        font-size: .7em;
                        text-wrap: nowrap;
                    }
                }
            }
        }
        div.ham_member_unloggedin {
            padding: 0 1.2rem;
            margin-bottom: 15px;
            .header_log {
                font-size: 0.9em;
                font-weight: 600;
                color: #555;
            }
            div.join_event_noti {
                margin-top: 15px;
                padding: .5rem;
                background-color: #EDF5FF;
                * {
                    font-size: .85em;
                }
                p:first-child {
                    margin-bottom: 5px;
                }
                b {
                    color: #4a96f3;
                }
            }
        }
        div.mini_banner {
            margin-bottom: 15px;
            img {
                width: 100%;
            }
        }
        div.page_links {
            h2 {
                font-size: 1.2em;
                font-weight: 600;
                padding: 1.2rem;
            }
            ul.header_navbar {
                display: flex;
                flex-direction: column;
                padding: 0 2rem;
                li {
                    a {
                        font-size: .9em;
                    }
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
                li.active {
                    a {
                        cursor: default;
                    }
                    border-bottom: none;
                }
            }
        }
    }
    div.black_bg {
        position: absolute;
        width: 100%; height: 100%;
        background-color: #000;
        opacity: 0;
        z-index: 11;
        transition: all .5s;
    }
    &.show {
        pointer-events: all;
        div.hamburger_menu {
            transform: translateX(0);
        }
        div.black_bg {
            opacity: .5;
        }
    }
}





// 반응형

@media screen and (min-width : $lg-breakpoint) {
    div.mobile_header {
        opacity: 0;
        pointer-events: none;
        display: none;
    }
}

@media screen and (max-width : $lg-breakpoint) {
    div.pc_header {
        display: none;
    }
    div.mobile_header {
        div.header_top {
            div.header_user_menu {
                button.user_menu_btn {
                    font-size: 1.5em;
                    &:not(:first-of-type) {
                        margin-left: 1rem;
                    }
                    &.search_btn {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}